/* TAB MOVIE */
.tenCumRap {
  color: #d6b13d;
  overflow: hidden;
  font-weight: 500;
  text-transform: uppercase;
}
.tenPhim {
  font-size: 18px;
  font-weight: 600;
}
.diaChi {
  color: #b39d9d;
}
.hrTag {
  width: 90%;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane,
:where(.css-dev-only-do-not-override-gzal6t).ant-tabs-left
  > div
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding-left: 0;
}
.tabCol2 {
  @apply sm:text-left sm:truncate sm:w-40 md:w-64 md:truncate lg:w-48;
}
.tabCol1{
  margin-top: 135px
}
.tabCol3{
  width: 43vw;
}

/* LIST */
.phim {
  @apply flex space-x-5 mt-5 mb-12 ms-5;
}
.khungGio {
  color: #d6b13d;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  margin: 0px 6px 16px 0px;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  background-color: rgba(246, 246, 246, 0.5);
  font-size: 14px;
  width: 98%;
}
.danhSachGio {
  display: grid;
  grid-template-columns: auto auto auto;
  /* @apply grid grid-cols-1 sm:grid-cols-1  lg:grid-cols-3; */
}
/* .ant-tabs-nav-list{
    height: 10px !important;
} */
.allTab {
  width: 102% !important;
}
@media screen and (max-width: 1245px) {
  .danhSachGio {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 1033px) {
  .danhSachGio {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 640px) {
  .allTab{
    margin-top: 135px;
  }
  .danhSachGio {
    grid-template-columns: auto auto;
  }
  .allTab :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >.ant-tabs-nav, :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >div>.ant-tabs-nav {
    width: 87vw;
} 
.allTab .border{
  width: 93vw !important;
}
.allTab .tabCol3{
  width: 92vw;
}
}
@media screen and (max-width: 600px) {
  .cumKhuVuc {
    width: 80vw;
  }
}
@media screen and (max-width: 564px) {
.titleMovie h1 {
  left: -355px;
}
}
@media screen and (max-width: 515px) {
  .danhSachGio {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 416px) {
  .allTab :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >.ant-tabs-nav, :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >div>.ant-tabs-nav {
    margin-left: 14px;
}
.slick-slider .slick-track{
   height: 44vw;
}
}
@media screen and (max-width: 405px) {
  .allTab :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >.ant-tabs-nav, :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >div>.ant-tabs-nav {
    margin-left: 12px;
  }
  .slider {
    margin-left: 67px;
}
}
@media screen and (max-width: 440px) {
  .imgHeThongRap{
    margin: 0px 26px 0 11px;
  }
}
@media screen and (max-width: 370px) {
  .imgMovie{
    height: 330px ;
  }
}
@media screen and (max-width: 340px) {
  .imgMovie {
    height: 284px;
  }
}