.container{
    width: 65%;
    margin: 0 auto;
}
.login:hover, .signup:hover, .user:hover, .logout:hover{
    color: #562921;
}
.logo{
    color: #d7b440;
}
.nameLogo{
    font-size: 16px;
    color: #562921;
}
@media screen and (max-width: 342px) {
    .logoPhim{
        display: block;
    }
}