.container {
  width: 80%;
  margin: 0 auto;
}

/* FormLogin */
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.formLogin label {
  margin-left: 28px !important;
  font-size: larger !important;
  margin-top: 25px !important;
}
.formLogin{
  width: 523px;
}
.formLogin{
  @apply grid sm:grid-cols-1 md:grid-cols-2
}
.logIn:hover p {
  color: #562921;
}
.logIn {
  padding: 20px 238px;
  background-color: #dab846;
}
.remember {
  margin: 0 !important;
}
.dangNhap {
  position: absolute;
  top: 136px;
  font-size: 15px !important;
  background-color: #dab846;
  padding-bottom: 10px;
  padding-right: 314px;
}
.dangNhapSpan {
  padding: 20px 15px 8px;
}
.formLogin {
  @apply mt-24 mb-10 sm:ms-5 md:ms-0;
}
.loginSlick .slick-next:before,
.loginSlick .slick-prev:before {
  font-size: 2rem !important;
}
.loginSlick .slick-next:before {
  position: relative;
  right: 5px;
}
.loginSlick .slick-prev:before {
  position: relative;
  right: 7px;
}
.formDNhap{
  margin-top: 95px;
  width: 519px !important;
}
/* FormSignUp */
.dangKy{
  margin-top: 93px;
  padding-right: 408px;
}
.formDKy{
  margin-top: 93px;
  width: 612px !important;
  height: 87vh;
  width: 70%;
}
.formSignup label{
  margin-left: 28px !important;
  font-size: larger !important;
}
.formSignup :where(.css-dev-only-do-not-override-gzal6t).ant-form-item .ant-form-item-label >label {
  display: inline !important;
}
.formSignup .BTN{
  padding: 18px !important;
  background-color: #dab846 !important;
  width: 100%;
}
.truongDuLieu{
  padding: 4px;
}
.formSignup :where(.css-dev-only-do-not-override-gzal6t).ant-btn{
  padding: 20px 281px !important;
  background-color: #dab846 !important;
  color: white;
}
.textSignup{
  position: absolute;
  bottom: 5px;
  left: 40%;
}

/* LoginSlick */
.loginSlick {
  margin-left: 70px;
  margin-top: 40px;
  width: 28vw;
  background-color: white;
}
.img2 {
  width: 316px;
  margin-left: 20px;
  margin-bottom: -22px !important;
  bottom: 24px;
  position: relative;
}
.img1 {
  margin-left: 53px;
  margin-top: 87px;
  width: 350px;
}
.img3 {
  width: 350px;
  height: 340px;
  margin-left: 33px;
  margin-top: 15px;
}
.loginSlick .slick-next:before,
.slick-prev:before {
  color: #d6b13d !important;
  font-size: 2rem !important;
}
.loginSlick .slick-list {
  height: 522px;
}
.loginSlick .slick-dots {
  bottom: 15px !important;
}
.loginSlick .slick-dots li button {
  border-radius: 50%;
  width: 15px !important;
  height: 15px !important;
  background-color: #999999 !important;
}
.loginSlick .slick-dots li button:hover {
  background-color: #522722 !important;
}
.loginSlick .slick-dots li button:focus {
  background-color: #dab846 !important;
}
.khuyenMaiVe {
  position: relative;
  left: 58px;
  bottom: 58px;
}
.khuyenMaiBap {
  margin-left: 56px;
  width: 85%;
}
.khuyenMaiXu {
  margin-top: 24px;
  margin-left: 68px;
}
.chuongTrinh {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  padding-right: 60px;
}
.cTKMai p {
  text-align: center;
  width: 80%;
  font-size: 16px;
}
.cTKMai .moTa {
  width: 85%;
}
.loginPage{
  width: 65%;
  margin: 0 auto;
  /* position: relative; */
}
.loginPage {
  @apply grid sm:grid-cols-1 md:grid-cols-2;
}
.loginPage .slicks {
  margin-left: 78px;
  @apply hidden sm:block;
}
.cTKMai2 {
}
/* Responsive */
@media screen and (max-width: 1286px) {
  .dangNhap{
    top: 42px;
  }
   .loginSlick{
    width: 33vw;
    margin-left: 116px;
   }
   .loginPage .slicks{
    margin-left: 50px;
   }
   .formLogin{
    position: relative;
    right: 5vw;
   }
}
@media screen and (max-width: 1188px) {
  .loginPage, .header {
    margin: 0;
  }
  .loginSlick {
    margin-left: 152px;
  }
  .img1 {
    padding-right: 18px;
  }
  .khuyenMaiVe {
    bottom: 41px;
  }
  .loginSlick{
    width: 37vw;    
  }
}
@media screen and (max-width: 1120px) {
  .loginSlick{
    width: 35vw;
  }
  .cTKMai1{
    position: relative;
    right: 42px;
  }
  .cTKMai2{
    position: relative;
    right: 36px;
  }
  .cTKMai3{
    position: relative;
    right: 37px;
  }
  .loginPage .slick{
    margin-left: 70px;
  }
}
@media screen and (max-width: 1100px) {
  .loginSlick {
    margin-left: 162px;
    width: 33vw;
  }
  .container {
    width: 94%;
    margin: 0;
  }
}
@media screen and (max-width: 1064px) {
  .img3 {
    width: 300px;
  }
  .img2 {
    width: 317px;
  }
  .cTKMai p {
    width: 78%;
  }
  .chuongTrinh {
    padding-right: 88px;
  }
  .loginPage .slicks{
    margin-left: 66px;
  }
}
@media screen and (max-width: 1000px) {
  .loginSlick {
    width: 34vw;
    margin-left: 148px;
  }
  .img3 {
    width: 348px;
    height: 278px;
    padding-right: 65px !important;
    top: 76px;
    position: relative;
  }
  .img2 {
    width: 274px;
    padding-right: 25px !important;
    position: relative;
    top: 77px;
  }
  .img1 {
    width: 350px;
    padding-right: 65px !important;
    position: relative;
    top: 75px;
    right: 14px;
  }
  .loginSlick .slick-next:before,
  .slick-prev:before {
    opacity: 1 !important;
  }
  .cTKMai p {
    width: 70% !important;
  }
  .chuongTrinh {
    padding-right: 140px;
  }
  .khuyenMaiXu {
    margin-top: 127px;
    position: relative;
    right: 41px;
  }
  .khuyenMaiBap {
    margin-top: 124px;
    margin-left: 49px;
  }
  .khuyenMaiVe {
    bottom: -51px;
    left: 20px;
  }
  .chuongTrinh3{
    width: 101%;
  }
  .cTKMai{
    bottom: 73px;
    right: 6px;
  }
  .formLogin{
    right: 0vw;
  }
  .loginPage .slicks{
    margin-left: 96px;
  }
}
@media screen and (max-width: 966px) {
  .loginPage .slicks{
    margin-left: 110px;
  }
  .loginSlick{
    width: 35vw;
  }
}
@media screen and (max-width: 912px) {
  .loginSlick .slick-prev:before {
    display: none;
  }
  .loginSlick .slick-next:before {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .dangNhap {
    width: 93vw !important;
  }
  .login-form {
    width: 92.5vw !important;
  }
  .formLogin {
    width: 94vw;
  }
  .logIn{
    width: 84.5vw;
  }
  .loginSlick{
    width: 92vw;
    margin-left: -90px;
    overflow: hidden;
  }
  .khuyenMaiVe {
    left: -47px;
    bottom: 139px;
  }
  .khuyenMaiBap {
    padding-left: 12px;
    right: 73px;
    position: relative;
    bottom: 91px;
  }
  .khuyenMaiXu {
    padding-left: 12px;
    bottom: -15px;
    position: relative;
    right: 37px;
  }
  .loginSlick .slick-next:before {
    right: 82px !important;
    top: 15px;
  }
  .loginSlick .slick-prev:before {
    right: 55px !important;
    top: 15px;
  }
  .cTKMai {
    margin-left: 76px;
  }
  .cTKMai2 {
    padding-left: 9px;
  }
  .img1 {
    width: 583px;
    height: 627px;
    top: -20px;
    right: 63px;
    padding-right: 140px !important;
  }
  .img2 {
    width: 540px;
    height: 576px;
    top: 12px;
    right: 92px;
  }
  .img3 {
    top: 95px;
    position: relative;
    right: 26px;
    width: 439px;
    height: 422px;
  }
  .chuongTrinh {
    padding-right: 56px;
    font-size: 24px !important;
    text-align: left;
    left: 166px;
    position: relative;
  }
  .loginSlick .slick-list {
    margin-left: 58px !important;
    height: 712px;
  }
  .cTKMai p {
    font-size: 22px;
  }
  .chuongTrinh2 {
    position: relative;
    left: 76px;
  }
  .chuongTrinh3{
    position: relative;
    left: -43px;
  }
}
@media screen and (max-width: 576px) {
  .formUser {
    width: 85vw !important;
  }
  .logIn {
    padding: 20px 43vw;
  }
  .forgotPass {
    left: 65vw;
  }
}
@media screen and (max-width: 576px) {
  .dangNhap {
    padding: 17px 47vw;
  }
  .dangNhapSpan {
    position: relative;
    right: 180px;
  }
  .forgotPass {
    left: 60vw !important;
  }
}
@media screen and (max-width: 576px) {
  .dangNhapSpan {
    right: 163px;
  }
}