.container{
    width: 80%;
    margin: 0 auto;
}

/* FormLogin */
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

label{
  margin-left: 28px !important;
  font-size: larger !important;
  margin-top: 25px !important;
}
.logIn:hover p{
  color: #562921;
}
.logIn{
  padding: 20px 240px;
  background-color: #dab846;
}
.remember{
  margin: 0 !important;
}
.dangNhap{
   position: absolute;
   top: 135px;
   font-size: 15px !important;
   background-color: #dab846;
   padding-bottom: 10px;  
   padding-right: 408px;
}
.dangNhapSpan{
  padding: 20px 15px 8px;
}
.formLogin{
  @apply mt-24 mb-10
}
.login-form{
  width: 524px !important;
}
.slick-next:before,
.slick-prev:before {
  color: #d6b13d !important;
  font-size: 3rem !important;
}
.slick-next:before,
.slick-prev:before {
  color: #d6b13d !important;
  font-size: 3rem !important;
}
.slick-next:before {
  position: relative;
  top: 70px;
}
.slick-prev:before {
  position: relative;
  right: 22px;
  top: 70px;
}

/* LoginSlick */
.loginSlick{
  margin-left: 200px;
  width: 46%;
  background-color: white;
}
img{
  width: 427px;
}