.container {
  width: 80%;
  margin: 0 auto;
}

/* FormLogin */
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

label {
  margin-left: 28px !important;
  font-size: larger !important;
  margin-top: 25px !important;
}
.logIn:hover p {
  color: #562921;
}
.logIn {
  padding: 20px 240px;
  background-color: #dab846;
}
.remember {
  margin: 0 !important;
}
.dangNhap {
  position: absolute;
  top: 135px;
  font-size: 15px !important;
  background-color: #dab846;
  padding-bottom: 10px;
  padding-right: 408px;
}
.dangNhapSpan {
  padding: 20px 15px 8px;
}
.formLogin {
  @apply mt-24 mb-10 sm:ms-5 md:ms-0;
}
.login-form {
  width: 524px !important;
}
.loginSlick .slick-next:before,
.loginSlick .slick-prev:before {
  font-size: 2rem !important;
}
.loginSlick .slick-next:before {
  position: relative;
  right: 5px;
}
.loginSlick .slick-prev:before {
  position: relative;
  right: 7px;
}

/* LoginSlick */
.loginSlick {
  margin-left: 70px;
  margin-top: 40px;
  width: 90%;
  background-color: white;
}
.img2 {
  width: 400px;
  margin-left: 20px;
  margin-bottom: -22px !important;
  bottom: 24px;
  position: relative;
}
.img1 {
  margin-left: 53px;
  margin-top: 87px;
  width: 350px;
}
.img3 {
  width: 350px;
  height: 340px;
  margin-left: 33px;
  margin-top: 15px;
}
.loginSlick .slick-list {
  height: 522px;
}
.loginSlick .slick-dots {
  bottom: 15px !important;
}
.loginSlick .slick-dots li button {
  border-radius: 50%;
  width: 15px !important;
  height: 15px !important;
  background-color: #999999 !important;
}
.loginSlick .slick-dots li button:hover {
  background-color: #522722 !important;
}
.loginSlick .slick-dots li button:focus {
  background-color: #dab846 !important;
}
.khuyenMaiVe {
  position: relative;
  left: 58px;
  bottom: 58px;
}
.khuyenMaiBap {
  margin-left: 37px;
  width: 85%;
}
.khuyenMaiXu {
  margin-top: 24px;
  margin-left: 23px;
}
.chuongTrinh {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  padding-right: 60px;
}
.cTKMai p {
  text-align: center;
  width: 95%;
  font-size: 16px;
}
.cTKMai .moTa {
  width: 85%;
}
.loginPage {
  @apply grid sm:grid-cols-1 md:grid-cols-2;
}
.slicks {
  @apply hidden sm:block;
}
/* Responsive */
@media screen and (max-width: 1188px) {
  .loginPage {
    margin: 0 !important;
  }
  .loginSlick {
    margin-left: 162px;
  }
  .img1 {
    padding-right: 18px;
  }
  .khuyenMaiVe {
    bottom: 41px;
  }
}
@media screen and (max-width: 1064px) {
  .img3 {
    width: 300px;
  }
  .img2 {
    width: 380px;
  }
  .cTKMai p {
    width: 78%;
  }
  .chuongTrinh {
    padding-right: 88px;
  }
}
@media screen and (max-width: 1000px) {
  .loginSlick {
    width: 78%;
  }
  .img3 {
    width: 288px;
    height: 278px;
    padding-right: 65px !important;
    top: 33px;
    position: relative;
  }
  .img2 {
    width: 310px;
    padding-right: 25px !important;
    position: relative;
    top: 77px;
  }
  .img1 {
    width: 305px;
    padding-right: 65px !important;
    position: relative;
    top: 75px;
    right: 14px;
  }
  .loginSlick .slick-next:before,
  .slick-prev:before {
    opacity: 1 !important;
  }
  .cTKMai p {
    width: 60% !important;
  }
  .chuongTrinh {
    padding-right: 140px;
  }
  .khuyenMaiXu {
    margin-top: 84px;
  }
  .khuyenMaiBap {
    margin-top: 116px;
    margin-left: 30px;
  }
  .khuyenMaiVe {
    bottom: -51px;
    left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .dangNhap {
    width: 93vw !important;
  }
  .login-form {
    width: 92.5vw !important;
  }
  .logIn {
    width: 84.5vw;
  }
  .loginSlick {
    width: 60%;
  }
  .khuyenMaiVe {
    padding-left: 8px !important;
  }
  .khuyenMaiBap {
    padding-left: 12px;
  }
  .khuyenMaiXu {
    padding-left: 12px;
  }
  .loginSlick .slick-next:before {
    right: 82px !important;
  }
  .loginSlick .slick-prev:before {
    right: 55px !important;
  }
}
@media screen and (max-width: 576px) {
  .formUser {
    width: 85vw !important;
  }
  .logIn {
    padding: 20px 43vw;
  }
  .forgotPass {
    left: 65vw;
  }
}
@media screen and (max-width: 576px) {
  .dangNhap {
    padding: 17px 47vw;
  }
  .dangNhapSpan{
    position: relative;
    right: 180px;
  }
  .forgotPass {
    left: 60vw !important;
  }
}
