.container{
    width: 65%;
    margin: 0 auto;
}
.slick-dots li button:before{
    display: none;
}
.banner{
    margin-top: 16px !important;
}
.slick-next:before, .slick-prev:before{
    color: #d6b13d !important;
    font-size: 3rem !important;
}
.slick-next:before{
    position: relative;
    left: -6px;
}
.slick-prev:before{
    position: relative;
    right: 22px;
}