.imgDetail {
  width: 505px ;
  height: 268px;
}
.movieContents {
  font-size: 28px;
  line-height: 1.2;
}
.movieContent {
  border-bottom: 2px solid #222;
  padding-bottom: 10px;
  margin: 30px 0 20px;
}
.tenPhim {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
}
.borderName {
  margin-bottom: 10px;
  padding-bottom: 15px;
  color: black;
}
.nameMovies {
  font-size: 28px;
  font-style: normal;
  line-height: 1.2;
  margin-bottom: 0.7em;
  color: black;
  text-align: left;
}
.thongTin {
  display: block;
  font-size: 14px;
}
.khungGioChieu {
  color: #d6b13d;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  margin: 10px 6px 16px 8px;
  padding: 6px;
  border-radius: 4px;
  text-decoration: none;
  background-color: rgba(246, 246, 246, 0.5);
  font-size: 14px;
}
.tabCol3a{
  width: 88%;
}
.detaiAll{
  width: 966px;
  overflow: hidden;
}
.detailMovie :where(.css-dev-only-do-not-override-gzal6t).ant-tabs .ant-tabs-content {
  width: 100%;
}
.detailMovie :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >.ant-tabs-nav .ant-tabs-nav-list, :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-list {
  width: 100%;
}
/* Responsive */
@media screen and (max-width: 1000px) {
  .detailMovie .ant-tabs .ant-tabs-left .border .css-dev-only-do-not-override-gzal6t{
    width: 87vw;
  }
  .detaiAll{
    width: 89vw !important;
  }
  .khungGioChieu{
    margin: 10px 35px 16px 8px;
  }
}
@media screen and (max-width: 768px) {
  .imgDetail {
    width: 89vw !important;
    height: 28vw;
  }
  .detaiAll {
    width: 93vw !important;
}
}
@media screen and (max-width: 640px) {
  .detailMovie :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >.ant-tabs-nav, :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >div>.ant-tabs-nav {
    margin-left: 0;
  }
  .detailMovie :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >.ant-tabs-nav, :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >div>.ant-tabs-nav {
    width: 20%;
}
.detailMovie :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >.ant-tabs-nav .ant-tabs-nav-list, :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-list {
  width: 100%;
}
.detailMovie :where(.css-gzal6t).ant-tabs >.ant-tabs-nav .ant-tabs-nav-list, :where(.css-gzal6t).ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-list {
  width: 32vw;
}
.detailMovie .tenCumRap{
  position: relative;
  right: 94px;
}
.detailMovie .danhSachGio{
  grid-template-columns: auto;
}
.detailMovie :where(.css-dev-only-do-not-override-gzal6t).ant-tabs-left >.ant-tabs-nav .ant-tabs-tab, :where(.css-dev-only-do-not-override-gzal6t).ant-tabs-right >.ant-tabs-nav .ant-tabs-tab, :where(.css-dev-only-do-not-override-gzal6t).ant-tabs-left >div>.ant-tabs-nav .ant-tabs-tab, :where(.css-dev-only-do-not-override-gzal6t).ant-tabs-right >div>.ant-tabs-nav .ant-tabs-tab {
  padding: 8px 24px;
}
.detailMovie :where(.css-dev-only-do-not-override-gzal6t).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  width: 123%;
}
/* Cột 2*/
.detailMovie :where(.css-dev-only-do-not-override-gzal6t).ant-tabs .ant-tabs-content {
  width: 220vw;
}
.detailMovie .khungGioChieu{
  width: 28vw;
}
}
@media screen and (max-width: 600px) {
  .detailMovie :where(.css-dev-only-do-not-override-gzal6t).ant-tabs .ant-tabs-content {
    width: 297%;
  }
  .detailMovie .khungGioChieu{
    width: 28vw;
  }
  .detailMovie :where(.css-dev-only-do-not-override-gzal6t).ant-tabs .ant-tabs-content {
    width: 210vw;
  }
}
@media screen and (max-width: 560px) {
  .infoPhim {
    display: block;
  }
  .tenPhim {
    font-size: 18px !important;
    margin-top: 10px;
  }
  .nameMovie {
    margin-top: 4px;
    margin-bottom: 8px;
  }
  .movieContent {
    display: none;
  }
  .imgDetail {
    width: 37vw !important;
    height: 56vw;
    margin-left: 133px;
    margin-bottom: 26px;
  }
  .borderName {
    padding-bottom: 0;
  }
  .muaVe {
    display: flex;
    justify-content: center;
  }
  .detailMovie :where(.css-dev-only-do-not-override-gzal6t).ant-tabs .ant-tabs-content {
    width: 200vw;
  }
  .detailMovie .khungGioChieu {
    width: 31vw;
}
}
@media screen and (max-width: 500px) {
  .detailMovie :where(.css-dev-only-do-not-override-gzal6t).ant-tabs .ant-tabs-content {
    width: 180vw;
  }
  .detailMovie .khungGioChieu {
    width: 33vw;
} 
}
@media screen and (max-width: 440px) {
  .imgDetail {
    margin-left: 102px;
  }
  .detailMovie :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >.ant-tabs-nav .ant-tabs-nav-list, :where(.css-dev-only-do-not-override-gzal6t).ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-list {
    width: 132%;
}
}
@media screen and (max-width: 440px) {
.detailMovie :where(.css-gzal6t).ant-tabs-left >.ant-tabs-nav .ant-tabs-tab, :where(.css-gzal6t).ant-tabs-right >.ant-tabs-nav .ant-tabs-tab, :where(.css-gzal6t).ant-tabs-left >div>.ant-tabs-nav .ant-tabs-tab, :where(.css-gzal6t).ant-tabs-right >div>.ant-tabs-nav .ant-tabs-tab {
  padding: 8px 15px;
  text-align: center;
}
.detailMovie :where(.css-gzal6t).ant-tabs >.ant-tabs-nav .ant-tabs-nav-wrap, :where(.css-gzal6t).ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-wrap{
  width: 100px !important;
}
:where(.css-gzal6t).ant-tabs >.ant-tabs-nav .ant-tabs-nav-list, :where(.css-gzal6t).ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-list{
  width: 122px;
}
.detailMovie :where(.css-gzal6t).ant-tabs >.ant-tabs-nav .ant-tabs-nav-list, :where(.css-gzal6t).ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-list{
  width: 84px;
}
.detailMovie :where(.css-gzal6t).ant-tabs-left >.ant-tabs-content-holder >.ant-tabs-content>.ant-tabs-tabpane, :where(.css-gzal6t).ant-tabs-left >div>.ant-tabs-content-holder >.ant-tabs-content>.ant-tabs-tabpane {
  padding-left: 0px;
}
}
@media screen and (max-width: 410px) {
  :where(.css-gzal6t).ant-tabs >.ant-tabs-nav .ant-tabs-nav-list, :where(.css-gzal6t).ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-list{
    width: 74px;
  }
  .detailMovie .tenCumRap{
    position: relative;
    right: 93px;
  }
}
@media screen and (max-width: 387px) {
  :where(.css-gzal6t).ant-tabs-left >.ant-tabs-nav .ant-tabs-ink-bar, :where(.css-gzal6t).ant-tabs-left >div>.ant-tabs-nav .ant-tabs-ink-bar {
    right: 0;
    transform: translate(37px, -33px) !important;
  }
}
@media screen and (max-width: 365px) {
  .detailMovie .tenCumRap{
    position: relative;
    right: 93px;
  }
  .detailMovie :where(.css-gzal6t).ant-tabs-left >.ant-tabs-nav .ant-tabs-ink-bar, :where(.css-gzal6t).ant-tabs-left >div>.ant-tabs-nav .ant-tabs-ink-bar{
    left: 120px !important;
  }
}