/* MultipleSlick */
.slider {
  width: 97.5%;
}
.slider .slick-next:before,
.slick-prev:before {
  color: #d6b13d !important;
  font-size: 3rem !important;
}
.slider .slick-next:before {
  position: relative;
}
.slider .slick-prev:before {
  position: relative;
  right: 22px;
}

/* MovieList */
.imgMovie {
  height: 355px;
  width: 241px !important;
}
.movie {
  position: relative;
  margin: 0 3px;
}
.rescriptionMovie {
  position: absolute;
  left: 6px;
  bottom: 10px;
  transition: all 0.75s;
}
.nameMovie {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.seeDetail,
.buyTicket {
  font-size: 15px;
  font-weight: 600;
  background-color: #d6b13d;
}
.slider .slick-list{
  margin-top: 112px;
}
/* @apply ms-28 pt-6 pb-16 md:ms-0 lg:ms-48 */
/* RESPONSIVE */
@media screen and (max-width: 1000px) {
   .slider{
    width: 117.5%;
   }
}
@media screen and (max-width: 768px) {
  .slider {
    width: 92%;
  }
  .slider .slick-next:before {
    bottom: 10px;
    right: 1vw;
  }
  .slider .slick-prev:before {
    bottom: 10px;
    right: 32px;
  }
  .slider {
    margin-left: 18px;
  }
}
@media screen and (max-width: 720px) {
  .slider {
    width: 86%;
  }
  .slider .slick-next:before {
    right: 10px !important;
  }
}
@media screen and (max-width: 695px) {
  .slider {
    width: 82%;
  }
}
@media screen and (max-width: 640px) {
  .slider .slick-next:before {
    right: 32px !important;
  }
  
}
@media screen and (max-width: 580px) {
  .slider .slick-next:before {
    right: 38px !important;
  }
}
@media screen and (max-width: 510px) {
  .slider .slick-next:before {
    right: 42px !important;
  }
  .slider .slider {
    margin-left: 10px;
  }
}
@media screen and (max-width: 472px) {
  .slider .slick-list {
    margin-left: 2px !important;
  }
  .slider .slick-next:before {
    right: 50px !important;
}
}
@media screen and (max-width: 432px) {
  .slider .slick-next:before {
    right: 56px !important;
  }
}
@media screen and (max-width: 432px){
  .slider .slick-next:before {
      right: 66px !important;
  }
}
