/* MovieList */
.imgMovie{
    height: 355px;
    width: 241px !important;
}
.slick-next:before, .slick-prev:before{
    color: #d6b13d !important;
    font-size: 3rem !important;
}
.slick-next:before{
    position: relative;
    left: -6px;
}
.slick-prev:before{
    position: relative;
    right: 22px;
}
.movie{
    position: relative;
    margin: 0 3px;
}
.rescriptionMovie{
    position: absolute;
    left: 6px;
    bottom: 10px;
    transition: all 0.75s;
}
.nameMovie{
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.seeDetail, .buyTicket{
    font-size: 15px;
    font-weight: 600;
    background-color: #d6b13d;
}
