.container{
    width: 65%;
    margin: 0 auto;
}
.imgMovie{
    height: 355px;
    width: 240px;
}
/* .movieListTitle h2{
    background: url("/h3_movie_selection.gif");
    display: inline-block;
    width: 56% !important;
    background-size: 302px 30px !important;
} */

.slick-next:before, .slick-prev:before{
    color: gray;
}
